<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DALLY TRAVEL APP :: ...Where would you like to go?</title>
  </head>
  <body>
    <div class="container">

      <div class="header box">
        <h1 class="travel-title"> Dally Travel App</h1>
      </div>

      <div class="form box">
        <form class="Travel-Input-form" onsubmit="return Client.handleSubmit(event)">
          <fieldset>
            <legend>Travel Information:</legend>
            <label for="travelDest">Please Enter your Travel Destination Here:</label><br>
            <input type="text" id="city" name="travel-dest" placeholder="Trip location"><br>
            <label for="tripDate">Departure Date:</label><br>
            <input type="date" id="tripDate" name="tripDate"><br><br>
            <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
          </fieldset>
        </form>    
      </div>
      <div class="left box">
        <div class="weather-details">
          <h5 class="cityName">CITY NAME</h5>
          <h5 class="countryName">COUNTRY NAME</h5>
          <div class="weather"> WEATHER CONDITION</div> <br />
          <span class="tempClass">TEMP</span>
          <span>&deg;C</span> <br />
        </div>
      </div>
      <div class="right box">
        <div class="country-details">
          <label for="cityRegion">The Region is :</label> <br />
          <h5 class="city-region"></h5>

          <label for="countryCode">The calling code is : </label> <br />
          <h5 class="country-code"></h5>

          <label for="countryCurrencies">The Currency used is : </label> <br />
          <div class="country-currencies"> </div> <br>
        </div>
      </div>
     
      
      <div class="pic box">
        <img class="country-picture">
      </div>

      <div class="footer">
        <p><b>&copy; Copyright 2020. DallyTech. All rights reserved.</b></p>
      </div>  
    </div>
    
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        //Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
  </body>  
</html>